version: '3.8'

services:
  app:
    build:
      context: ./docker/php
      target: development

    container_name: "${APP_NAME}_app"
    volumes:
      - ./:/var/www/html
    ports:
      - "9000:9000"
      - "5173:5173"
    environment:
      CHOKIDAR_USEPOLLING: "true"
    networks:
      - laravel

  web:
    image: nginx:latest
    container_name: "${APP_NAME}_nginx"
    depends_on:
      - app
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - laravel

  db:
    image: postgres:16
    container_name: "${APP_NAME}_db"
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - db_data_volume:/var/lib/postgresql/data
    networks:
      - laravel

volumes:
  db_data_volume:

networks:
  laravel:
    driver: bridge
